<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="SongzaApp" ng-controller="songzaController">
<head>
    <meta charset="utf-8" />
    <meta name="google-site-verification" content="rbDhZy3hGYP0h79Gn02ERCljGrTziMtktp3Tx5oq28g" />
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <style>
        body {
            color: #f5f5e5;
            background-color: #808080;
        }
        div.menu {
            position: relative;
            transition: top 500ms;
        }

        div.column {
            height: 450px;
            width: 350px;
            overflow: hidden;
            text-align: center;
        }

            div.current {
                background-color: #414141;
            }

        a {
            display: block;
            font-size: 10px;
            height: 30px;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            color: grey;
            transition: font-size 500ms, color 500ms;
        }

            a.current {
                font-size: 12px;
                color: #f5f5e5;
            }
    </style>
</head>

<body ng-keypress="doKeyEvent($event)" ng-keydown="doKeyEvent($event)">
    <div class="row" style="text-align: center; background-color: #202020">
        <div class="col-md-12">
            <h1>Songza Browser</h1>
        </div>
    </div>
    <div class="row" style="background-color: #303030;">
        <div class="col-md-2 column" ng-class="{current: column=='categories'}">
            <div class="menu" ng-style="div1Style">
                <a href=" #" ng-repeat="category in categories" ng-class="{current: category==selectedCategory}" ng-click="categoryClick(category)">
                    {{category}}
                </a>
            </div>
        </div>

        <div class="col-md-2 column" ng-class="{current: column=='collections'}">
            <div class="menu" ng-style="div2Style">
                <a href="#" ng-repeat="collection in collections" ng-class="{current: collection==selectedCollection}" ng-click="collectionClick(collection)">{{collection.name}}</a>
            </div>
        </div>

        <div class="col-md-2 column" ng-class="{current: column=='stations'}">
            <div class="menu" ng-style="div3Style">
                <a href="#" ng-repeat="station in stations" ng-class="{current: station==selectedStation}" ng-click="stationClick(station)">{{station.name}}</a>
            </div>
        </div>


        <div class="col-md-4 column">
            <div>
                <h4 ng-show="selectedStation">{{selectedStation.name}} - {{selectedStation.song_count}} songs</h4>
            </div>

            <div>
                <img ng-src="{{selectedStation.cover_url}}" />
            </div>

            <p>
                {{selectedStation.description}}
            </p>
            <strong ng-show="selectedStation">Featuring</strong>
            <li ng-repeat="artist in selectedStation.featured_artists">{{artist.name}}</li>
            <p>
                <a href="#" class="btn-btn-info" ng-click="playStation(selectedStation)" ng-hide="selectedStation == playingStation && isPlaying">Play [spacebar]</a>
                <a href="#" class="btn-btn-info" ng-click="pause()" ng-show="selectedStation == playingStation && isPlaying">Currently playing [spacebar to pause]</a>
            </p>
        </div>

    </div>

    <div class="row" ng-show="isPlaying">
        <div class="col-md-4">
            <h2>Now Playing</h2>
            <h4>{{selectedStation.name}}</h4>
            <h5>{{selectedStation.description}}</h5>
        </div>
        <div class="col-md-4">

            <div>

                <h4>{{stationNext.song.artist.name}}</h4>
                <h3>{{stationNext.song.title}}</h3>
                <p>
                    <img ng-src="{{stationNext.song.cover_url}}" id="nowplayingArt" />
                </p>
            </div>

            <p>
                <audio id="player" controls>
                    <source ng-src="{{stationNext.listen_url}}" type="audio/mp4">
                    <source ng-src="{{stationNext.listen_url}}" type="audio/mp3">
                    Your browser does not support the audio element.
                </audio>
            <p>
                <a class="btn btn-primary" ng-click="getStationNext(stationDetails)"><i class="glyphicon glyphicon-forward"></i></a>
            </p>

        </div>
    </div>
</body>
</html>
<script>

    var SongzaApp = angular.module('SongzaApp', []);

    SongzaApp.factory('audio', function ($document, $rootScope) {
        var audioElement = $document[0].getElementById('player'); // <-- Magic trick here
        var _time;
        audioElement.addEventListener('ended', function () {
            $rootScope.$broadcast("trackFinished");
        });

        return {
            audioElement: audioElement,

            play: function (filename) {
                audioElement.src = filename;
                audioElement.play();
            },

            resume: function () {
                audioElement.currentTime = _time;
                audioElement.play();
            },

            pause: function () {
                _time = audioElement.currentTime;
                audioElement.pause();
            }
        };
    });


    SongzaApp.controller('songzaController', function ($scope, $http, audio) {

        $scope.column = "categories";

        // Categories
        $http.get('@Url.Action("Categories")').success(function (data) {
            setCategoriesList(data);
        });


        var setCategoriesList = function (data) {
            $scope.categories = data;
            setSelectedCategory(0);
        };

        $scope.categoryClick = function (category) {
            selectedColumn = 0;
            $scope.column = columns[selectedColumn];
            var index = $scope.categories.indexOf(category);
            setSelectedCategory(index);
        };

        setSelectedCategory = function (index) {
            $scope.selectedCategoryIndex = index;
            $scope.selectedCategory = $scope.categories[$scope.selectedCategoryIndex];
            $scope.div1Style = { top: ($scope.selectedCategoryIndex * - 30) + 100 + 'px' };

            getCollections($scope.selectedCategory);
        };

        // Collections
        var getCollections = function (category) {
            $http.post('@Url.Action("CategoryFilter")', { category: category }).success(function (data) {
                setCollections(data);
            });
        };

        var setCollections = function (data) {
            $scope.collections = data;
            setSelectedCollection(0);
        };

        $scope.collectionClick = function (collection) {
            selectedColumn = 1;
            $scope.column = columns[selectedColumn];
            var index = $scope.collections.indexOf(collection)
            setSelectedCollection(index);
        };

        setSelectedCollection = function (index) {
            $scope.selectedCollectionIndex = index;
            $scope.selectedCollection = $scope.collections[$scope.selectedCollectionIndex];
            $scope.div2Style = { top: ($scope.selectedCollectionIndex * -30) + 100 + 'px' };

            getStations($scope.selectedCollection);
        };

        // Stations
        var getStations = function (collection) {
            $http.post('@Url.Action("Stations")', collection.station_ids).success(function (data) {
                setStations(data);
            });
        };

        var setStations = function (data) {
            $scope.stations = data;
            setSelectedStation(0);
        };

        $scope.stationClick = function (station) {
            selectedColumn = 2;
            $scope.column = columns[selectedColumn];
            var index = $scope.stations.indexOf(station);
            setSelectedStation(index);
        };

        setSelectedStation = function (index) {
            $scope.selectedStationIndex = index;
            $scope.selectedStation = $scope.stations[$scope.selectedStationIndex];
            $scope.div3Style = { top: ($scope.selectedStationIndex * -30) + 100 + 'px' };
        };


        // Keyboard UI
        $scope.doKeyEvent = function (event) {
            var keycode = event.keyCode;
            switch (keycode) {
                case 38: upArrow(); event.preventDefault(); break;
                case 40: downArrow(); event.preventDefault(); break;
                case 37: leftArrow(); event.preventDefault(); break;
                case 39: rightArrow(); event.preventDefault(); break;
                case 32: spaceBar(); event.preventDefault(); break;
            }
            console.debug(keycode);
        };

        var upArrow = function () {
            decrementFunction[$scope.column]();
        };

        var downArrow = function () {
            incrementFunction[$scope.column]();
        };

        var leftArrow = function () {
            if (selectedColumn > 0 ) {
                selectedColumn--;
                $scope.column = columns[selectedColumn];
            }
        };

        var rightArrow = function () {
            if (selectedColumn < columns.length-1) {
                selectedColumn++;
                $scope.column = columns[selectedColumn];
            }
        };

        var spaceBar = function () {
            var station = $scope.selectedStation;
            if ($scope.playingStation == station && $scope.isPlaying) {
                $scope.pause();
                return;
            }

            if ($scope.playingStation == station && !$scope.isPlaying) {
                audio.resume();
                $scope.isPlaying = true;
                return;
            }

            $scope.playStation(station);
        };

        $scope.playStation = function (station) {
            if ($scope.playingStation == station) {
                audio.resume();
            }
            else {
                $http.post('@Url.Action("StationNext")', { stationID: station.id }).success(function (data) {
                    $scope.stationNext = data;
                    audio.play($scope.stationNext.listen_url);
                });

                $scope.playingStation = station;
            }
            $scope.isPlaying = true;
        };

        $scope.pause = function () {
            audio.pause();
            $scope.isPlaying = false;
        };


        // Nav functions
        var decrementCategory = function () {
            if ($scope.selectedCategoryIndex > 0) {
                setSelectedCategory($scope.selectedCategoryIndex - 1);
            }
        };

        var incrementCategory = function () {
            if ($scope.selectedCategoryIndex < $scope.categories.length-1) {
                setSelectedCategory($scope.selectedCategoryIndex + 1);
            }
        };

        var decrementCollection = function () {
            if ($scope.selectedCollectionIndex > 0) {
                setSelectedCollection($scope.selectedCollectionIndex - 1);
            }
        };

        var incrementCollection = function () {
            if ($scope.selectedCollectionIndex < $scope.collections.length-1) {
                setSelectedCollection($scope.selectedCollectionIndex + 1);
            }
        };

        var decrementStation = function () {
            if ($scope.selectedStationIndex > 0) {
                setSelectedStation($scope.selectedStationIndex - 1);
            }
        };

        var incrementStation = function () {
            if ($scope.selectedStationIndex < $scope.stations.length-1) {
                setSelectedStation($scope.selectedStationIndex + 1);
            }
        };

        $scope.isPlaying = false;
        var stationStarted = false;

        var columns = ['categories', 'collections', 'stations'];
        var selectedColumn = 0;
        var incrementFunction = { categories: incrementCategory, collections: incrementCollection, stations: incrementStation };
        var decrementFunction = { categories: decrementCategory, collections: decrementCollection, stations: decrementStation };
    });


</script>
