body {
    background-color: #262626;
    color: #d7ba7d;
}

.bs-sidenav > li > a {
    display: block;
    color: #716b7a;
    padding: 5px 20px;
}

#searchGenres, #searchStations {
    height: 50px;
}

#genres, #stations {
    display: block;
    overflow-y: scroll;
    height: 500px;
}


.stationThumb {
    display: block;
    height: 200px;
    max-width: 100%;
    padding: 10px;
    background-color: transparent;
    border: transparent;
    border-radius: 4px;
    margin: 10px 0 10px 20px;
    text-align:center;
    cursor: pointer;        
}

    .stationThumb:hover {
        background-color: #515151;
    }

.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    overflow: auto;
    overflow-y: scroll;
    color: #262626;
    background-color: #000000;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    border-radius: 0;
}

#categoryDescription {
    background-color: #F5EFFF;
    color: #A0A0A0;
    padding: 15px;
}

#closeButton {
    float: right;
    margin: 10px;
    font-size: 2em;
    cursor: pointer;
    position: relative;
    z-index: 1;

}
    #closeButton a {
        color: #ADADAD;
    }

    #closeButton a:hover {
        color: #797979;
    }

#nowPlayingBox {
    background-color: #76A386;
    padding: 15px;
    text-align: center;
}

.mainMenu a {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.mainMenu li a:hover {
    background-color: #bcbcbc;
    color: #797979;
}

.mainMenu li.active a {
    background-color: #eeeeee;
    color: #797979;
}

.mainMenu li.active a:hover {
    background-color: #eeeeee;
    color: #000000;
}

@-webkit-keyframes anim1 {
    0%{-webkit-transform: perspective(200px) rotateX(90deg)}
    100%{-webkit-transform:  perspective(200px) rotateX(0)}
}

.animated{ -moz-animation: anim1 500ms; -o-animation: anim1 500ms; -webkit-animation: anim1 500ms; animation: anim1 500ms;}